@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dancing Script';
  src: url('./assets/fonts/DancingScript-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Regular.ttf') format('truetype');
}

body {
  background: radial-gradient(circle, theme("colors.primary"), theme("colors.secondary"));
  font-family: theme("fontFamily.raleway");
}

.link {
  @apply relative after:block after:h-[1px] after:w-0 after:bg-text after:transition-all after:duration-150 after:ease-in-out after:absolute after:left-0 after:bottom-0 hover:after:w-full;
}